.cell {
    width: 20px;
    height: 20px;
    float: left;
    border: 1px;
    border-color: #b9daff;
    border-style: solid;
}

.object {
    position: relative;
    width: 20px;
    height: 20px;
}

.size-1 {
    font-size: 20px !important;
}

.size-2 {
    font-size: 40px !important;
}

.size-3 {
    font-size: 60px !important;;
}

.size-4 {
    font-size: 80px !important;
}

.size-5 {
    font-size: 100px !important;
}

@keyframes rocket-right {
    0%   {transform: rotate(60deg);}
    50%  {transform: rotate(25deg);}
    100%  {transform: rotate(60deg);}
}

.rocket-right {
    transform: rotate(40deg);
    /*animation-name: rocket-right;*/
    /*animation-duration: 2s;*/
    /*animation-iteration-count: infinite;*/
}

@keyframes rocket-left {
    0%   {transform: rotate(-115deg);}
    50%  {transform: rotate(-155deg);}
    100%  {transform: rotate(-115deg);}
}

.rocket-left {
    transform: rotate(-135deg);
    /*animation-name: rocket-left;*/
    /*animation-duration: 2s;*/
    /*animation-iteration-count: infinite;*/
}